{% extends 'base.html.twig' %}

{% block title %}New User{% endblock %}

{% block body %}

<div class="container-fluid">
    <div class="row">
                  <div class="col-xxl-12 mb-25">
                     <div class="card banner-feature--18 d-flex" style="background:#A40E1C;">
                        <div class="container-fluid">
                           <div class="row">
                              <div class="col-xl-6">
                                 <div class="card-body px-25">
                                    <h1 class="banner-feature__heading color-white">Update the user Informations</h1>
                                    <p class="banner-feature__para color-white">This is the interface where you can edit/update user information. 
                                    Please make sure to fill out all required fields and follow the form validation rules to ensure that the
                                     user data is updated correctly.
                                    </p>
                                    <div class="d-flex justify-content-sm-start justify-content-center" >
                                        <a class="btn btn-primary mt-15 btn-md" href="{{ path('app_user_list') }}" class="edit" style="background:#37474F;">
                                            Users List
                                        </a>
                                    </div>
                                 </div>
                              </div>
                              <div class="col-xl-6">
                                 <div class="banner-feature__shape px-md-25 px-25 py-sm-0 pt-15 pb-30 d-flex justify-content-sm-end justify-content-center">
                                    <img src="{{asset('BackOffice/img/edit-user1.png') }}" alt="img" class="svg" style="width:250px; ">
                                 </div>
                              </div>
                           </div>
                        </div>
                     </div>
                  </div>
                  <div class="col-xxl-12 mb-25">
                        <div class="card banner-feature--18 d-flex" style="background:#FFFFFF;">
                        <div class="container-fluid">
                        <BR>
                            {{ include('BackOffice/user/_edit_form.html.twig', {'button_label': 'Update'}) }}
                        </div>  
                        </div>  
                  </div>  
    </div>
</div>

{% endblock %}
