.btn-secondary {
    background-color: #6c757d;
    border-color: #6c757d;
    color: #fff;
  }
  
  .mt-3 {
    margin-top: 1rem;
  }
  
  .addprojectButton {
    background-color: #007bff;
    border-color: #007bff;
    color: #fff;
    font-weight: bold;
    padding: 0.5rem 1rem;
    border-radius: 0.25rem;
    transition: all 0.2s ease-in-out;
  }
  
  .addprojectButton:hover {
    background-color: #0062cc;
    border-color: #0062cc;
  }
  
  .form-control {
    border-color: #007bff;
    box-shadow: none;
  }
  
  .form-control:focus {
    border-color: #0062cc;
    box-shadow: none;
  }
  