.kanban-board {
    font-family: Arial, sans-serif; /* Change the font family */
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-gap: 20px;
    margin: 20px;
  }
  
  .column {
    background-color: #f9f9f9;
    border: 1px solid #ddd;
    padding: 20px;
    transition: box-shadow 0.3s ease;
  }
  
  .column:hover {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  }
  
  .column h2 {
    margin-top: 0;
    text-align: center;
  }
  
  .tache {
    font-family: Arial, sans-serif; /* Change the font family */
    background-color: #0bb5df;
    border: 1px solid #ddd;
    border-radius: 5px; /* Add this line */
    padding: 10px;
    margin-bottom: 10px;
    transition: background-color 0.3s ease;
  }
  
  .tache:hover {
    background-color: #0d5585;
  }

  .column.over {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    border: none;
  }
  