{% extends 'base.html.twig' %}

{% block body %}
  <h1>Résultats de recherche</h1>

  {% if annonces is not empty %}
  <ul>
    {% for annonce in annonces %}
      <li>{{ annonce.title }}</li>
    {% endfor %}
  </ul>
{% else %}
  <p>Aucun résultat trouvé.</p>
{% endif %}
{% endblock %}
