{% extends 'baseFront.html.twig' %}

{% block title %}New Raiting{% endblock %}

{% block body %}
    <h1>Create new Raiting</h1>

    {{ include('raiting/_form.html.twig') }}

    <a href="{{ path('app_raiting_index') }}">back to list</a>
{% endblock %}
