{% extends 'base.html.twig' %}

{% block title %}Edit Classification{% endblock %}

{% block body %}
   <h1 style="text-align: center;"><span style="color: #0077B6;">Edit Classification</span></h1>

    {{ include('BackOffice/classification/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('app_classification_index') }}">back to list</a>

    {{ include('BackOffice/classification/_delete_form.html.twig') }}
{% endblock %}
