{% extends 'base.html.twig' %}

{% block title %}New User{% endblock %}

{% block body %}
    <h1>Create new User</h1>

    {{ include('FrontOffice/user/_form.html.twig') }}

    <a href="{{ path('app_user_show_na') }}">back to list</a>
{% endblock %}
