{% extends 'base.html.twig' %}

{% block title %}Delete Annonce{% endblock %}

{% block body %}
     <h1 style="text-align: center;"><span style="color: #0077B6;">Delete Annonce</span></h1>

    {#  {{ include('FrontOffice/annonce/_form.html.twig', {'button_label': 'Update'}) }} #}

    <a href="{{ path('app_back_index') }}">back to list</a>

    {{ include('BackOffice/back/_delete_form.html.twig') }}
{% endblock %}